nav {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(40px);
   background-color: rgba(5, 10, 21, 0.837);
}
body {
    background-color: rgb(1, 1, 11);
    color: white;

}

